HeaderFilterRegex: '.*'
Checks: |
  bugprone-*
  -bugprone-branch-clone
  -bugprone-easily-swappable-parameters
  -bugprone-implicit-widening-of-multiplication-result
  -bugprone-signed-char-misuse
  -bugprone-narrowing-conversions
  misc-*
  -misc-const-correctness
  -misc-include-cleaner
  -misc-non-private-member-variables-in-classes
  readability-*
  -readability-function-cognitive-complexity
  -readability-container-size-empty
  -readability-convert-member-functions-to-static
  -readability-else-after-return
  -readability-identifier-length
  -readability-implicit-bool-conversion
  -readability-magic-numbers
  -readability-make-member-function-const
  -readability-math-missing-parentheses
  -readability-redundant-casting
